.header {
  display: flex;
  justify-content: space-between;
}
.header__title {

}
.header-info {
  position: relative;
}
.header-pupup {
  width: 200px;
  position: absolute;
  background: #adadad;
  right: 0;
}
.header-pupup__text {

}
